body{
margin:0;
font-family:Arial,sans-serif;
background-color:#add8e6;
}

.faculty-profile {
    text-align: center;
    margin: 30px auto;
    background: rgba(255,255,255,0.95);
    padding: 25px;
    width: 60%;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.faculty-profile img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #002244;
}

.faculty-profile h2 {
    color: #002244;
    margin: 10px 0 5px;
}

.details-container {
    width: 80%;
    margin: 30px auto;
    background: rgba(255,255,255,0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.details-container h3 {
    color: #002244;
    border-bottom: 2px solid #002244;
    padding-bottom: 5px;
}


.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.details-table th {
    background-color: #002244;
    color: white;
    padding: 12px;
}

.details-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}